{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.green.min.css">


    

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <title>Turbohub</title>

</head>
<body>

    {% include 'include/header.html' %}

    {% block content %}
    
    
    
    
    {% endblock content %}
    
    {% include 'include/footer.html' %}
    

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" ></script>

    {% block js %}
    
    {% endblock js %}
    

    <script src="{% static 'js/select.js' %}"></script>
    <script src="{% static 'js/carousel.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
   

    
<script>
    const thumbs=document.querySelector(".thumb-img").children;

        function changeImage(event){
        document.querySelector(".pro-img").src=event.children[0].src
        
        for(let i=0; i<thumbs.length;i++){
          thumbs[i].classList.add("active");    
        }
        event.classList.add("active");
        }

        
        
</script> 

</body>
</html>
