{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}


{% block content %}

<section class="main-car-slider">
    <div class="my-container my-container-w">
        
        <div class="product">
            <div class="thumb-img slider d-block">
                {% for s in categories_list %}
                <a href="{{s.get_absolute_url}}">
                <div class="box" onmouseover="changeImage(this)" onmouseout="changesImage(this)">
                    
                    <img src="{{s.image.url}}" width="200" height="300" />
                

                    {{s.name}}
                </div>
                </a>
                
                {% endfor %}
            </div>

            <div class="thumb-img slider d-none">
                {% for s in categories_list %}

                <a href="{{s.get_absolute_url}}">

                   <div class="box active d1" onclick="changeImage(this)">
                        {{s.name}}
                    </div>
                </a> 
                {% endfor %}

                
            </div>
        
             <div class="main-img">
                <div class="red-zone">
                    <img src="{% static 'img/mercedes.png' %}" class="pro-img  car d1 d2" alt="product" />
                    <img class="bg" src="{% static 'img/bg.png' %}" alt="">


                    {% comment %} <div class="button-foward">
                             <a>
                        
                            <button type="sumbit" class="more btn btn-red btn-animate">MORE DETAIL</button>
                        </a>
                    </div> {% endcomment %}
                    
                 </div> 
                             
             </div>
             
         </div>
    </div>

</section>

    <section class="search-section">
        <div class="my-container">
            <div class="search-width">
                <form action="{% url 'core:index_search' %}" method="GET" accept-charset="utf-8">
                    <div class="search-box">
                        <div class="search">
                            <img src="{% static 'svg/search.svg' %}" alt="">
                            <input type="search" name="search" placeholder="Search by Make, Model">
                        </div>
            
                        <div class="selected">
                            <div class="line"></div>
            
                            <div class="custom-select"> 
                                <select name="category">
                                    <option value="">Select Condition</option>
                                    {% for e in categories %}
                                    
                                  <option value="{{e.name}}">{{e.name}}</option>


                                  {% endfor %}
                                    
                                </select>
                            </div>
                        </div>
            
                        <div class="search-button">
                            <button type="submit">Search</button>
                        </div>
                    </div>
                </form>
                
            </div>
        </div>
    </section>


    <section class="recommended gray">
        <div class="main-slide">
            <div class="recommended-title">
                <h1>Recommended Cars</h1>
                <p>Cars we think you'll like</p>
            </div>

            <div class="slide-container">
                <div class="owl-carousel second-slide owl-theme">
                    {% for c in cars_list %}
                    <div class="item" class="width100">
                        <a href="{{c.get_absolute_url}}">
                            <div class="car-img-box">
                                <img src="{{c.car_image.url}}">
                            </div>
                        </a>
                            <div class="details">
                                <div class="content">
                                    <h4>{{c.name}}</h4>
                                    <div class="card-details">
                                        <div class="price">
                                            {{c.price}}
                                        </div>
                                        <div class="line-2"></div>
                                        <div class="km">
                                            {{c.mileage}}
                                        </div>
                                    </div>
                                </div>
                             </div>
                        </div>

                    {% endfor %}

                    
          
                </div>
            </div> 
        </div>

        <div class="view">
            <a href="{% url 'core:offers' %}">VIEW ALL OFFERS</a>
        </div>
  
    </section>


    <section class="why-choose-us-section">
        <div class="my-container">
            <div class="choose-us">
                <div class="choose-title">
                    <h1>Why Choose Us</h1>
                    <p>Here’s why lots of clients choose our services.</p>
                </div>

                <div class="choose-content">
                    <div class="reason-box">
                        <img src="{% static 'svg/Checklist.svg' %}" alt="">
                        <h4>Regular Cheks</h4>
                        <p>All our cars are regularly inspected to offer you the best options for solving the daily transportation tasks as efficiently as possible.</p>
                    </div>

                    <div class="reason-box">
                        <img src="{% static 'svg/Help.svg' %}" alt="">
                        <h4>24/7 Support</h4>
                        <p>Our team is always ready to help you 24/7 professional support with registering your vehicle and getting to know it better.</p>
                    </div>

                    <div class="reason-box">
                        <img src="{% static 'svg/idCard.svg' %}" alt="">
                        <h4>Professionalism</h4>
                        <p>Turbohub’s team has a lot of dedicated experts that are determined to give you a car that fits your needs the most.</p>
                    </div>

                    <div class="reason-box">
                        <img src="{% static 'svg/target.svg' %}" alt="">
                        <h4>Affordability</h4>
                        <p>If you are looking for an affordable way to buy a desired car, Turbohub can provide you with what you need in no time.</p>
                    </div>
                </div>
                
            </div>
        </div>
    </section>

 
{% endblock content %}